.brand {
  color: white;
  margin-top: -100px;
  margin-left: 50px;
  margin-bottom: 70px;
  font-size: 70px;
  font-weight: 600;
}

.btn {
  margin-top: 23px;
}

.text-conclusion {
  margin-top: 50px;
}

